@model TTCD1_TranMinhDuc_2210900014.Models.Tmd_NSX

@{
    Layout = "~/Views/Shared/Admin.cshtml";
    ViewBag.Title = "Chỉnh sửa nhà sản xuất";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Chỉnh sửa nhà sản xuất</h4>
                <p class="card-description">
                    <a href="/HomeAdmin/DashBoard" style="text-decoration: none; color: inherit; font-weight: bold;">Trang chủ admin</a> &#47; Chỉnh sửa nhà sản xuất
                </p>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.MaNSX)

                    <div class="form-group">
                        <label for="TenNSX">Mã nhà sản xuất</label>
                        @Html.EditorFor(model => model.MaNSX, new { htmlAttributes = new { @class = "form-control", placeholder = "Mã nhà sản xuất", style = "min-width: 100%;" } })
                        @Html.ValidationMessageFor(model => model.MaNSX, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="TenNSX">Tên nhà sản xuất</label>
                        @Html.EditorFor(model => model.TenNSX, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên nhà sản xuất", style = "min-width: 100%;" } })
                        @Html.ValidationMessageFor(model => model.TenNSX, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Lưu" class="btn btn-primary me-2" />
                    <input type="reset" value="Hủy bỏ" class="btn btn-secondary" />
                }
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Quay Về Danh Sách", "Index", null, new { @class = "btn btn-link text-white fw-bold", style = "font-size: 20px; text-decoration: none;" })
</div>
