@model IEnumerable<TTCD1_TranMinhDuc_2210900014.Models.Tmd_SanPham>

@{
    Layout = "~/Views/Shared/Admin.cshtml";
    int i = 1;
}

@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@TempData["SuccessMessage"]');
    </script>
}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách sản phẩm</h4>
                <p>
                    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
                </p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Hình ảnh 1</th>
                                <th>Hình ảnh 2</th>
                                <th>Hình ảnh 3</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Ngày nhập</th>
                                <th>Giá bán</th>
                                <th>Giá nhập</th>
                                <th>Giá sale</th>
                                <th>Sale</th>
                                <th>Số lượng đã bán</th>
                                <th>Tình trạng</th>
                                <th>Nhà sản xuất</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(i++)</td>
                                    <td>
                                        <img src="~/Content/Img/Products/@item.img1" alt="Hình ảnh 1" style="width: 30px; height: 50px;" />
                                    </td>
                                    <td>
                                        <img src="~/Content/Img/Products/@item.img2" alt="Hình ảnh 2" style="width: 30px; height: 50px;" />
                                    </td>
                                    <td>
                                        <img src="~/Content/Img/Products/@item.img3" alt="Hình ảnh 3" style="width: 30px; height: 50px;" />
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.TenSP)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NgayNhap)</td>
                                    <td>@string.Format("{0:N0}đ", item.GiaBan)</td>
                                    <td>@string.Format("{0:N0}đ", item.GiaNhap)</td>
                                    <td>@string.Format("{0:N0}đ", item.GiaSale)</td>
                                    <td style="color: @(item.Sale.HasValue && item.Sale.Value ? "green" : "red")">@(item.Sale == true ? "Có" : "Không")</td>
                                    <td>@Html.DisplayFor(modelItem => item.SoLuongDaBan)</td>
                                    <td style="color: @(item.TinhTrang.HasValue && item.TinhTrang.Value ? "green" : "red")">
                                        @(item.TinhTrang == true ? "Còn hàng" : "Hết hàng")
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Tmd_NSX.TenNSX)</td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.MaSP }, new { @class = "btn btn-warning btn-sm" }) |
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSP }, new { @class = "btn btn-info btn-sm" }) |
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaSP }, new { @class = "btn btn-danger btn-sm" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>