@if (Model.TinhTrang == true)
{
<main aria-labelledby="title">
    <div class="bread-crumb mt-5">
        <div class="container">
            <div class="header-name text-center">
                <h1 style="color: #1f1d1d">@Model.TenSP</h1>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <swiper-container style="--swiper-navigation-color: #1E3E62; --swiper-pagination-color: #1E3E62;" class="mySwiper" navigation="true" pagination="true" loop="true" autoplay="true" autoplay-delay="3000">
                        <swiper-slide class="d-flex justify-content-center">
                            <img style="width: 209px; height: 430px; border-radius: 15px;" src="~/Content/Img/Products/@Model.img2" alt="Image 1" />
                        </swiper-slide>
                        <swiper-slide class="d-flex justify-content-center">
                            <img style="width: 209px; height: 430px; border-radius: 15px;" src="~/Content/Img/Products/@Model.img3" alt="Image 2" />
                        </swiper-slide>
                        <swiper-slide class="d-flex justify-content-center">
                            <img style="width: 209px; height: 430px; border-radius: 15px;" src="~/Content/Img/Products/@Model.img1" alt="Image 3" />
                        </swiper-slide>
                    </swiper-container>
                    <div class="d-flex p-3 align-items-start justify-content-between rounded-top row mt-4">
                        <div style="background-color: #B7B7B7; font-size: 24px; font-weight: 700" class="d-flex align-items-center gap-3 p-2">
                            <i class="fa-solid fa-file-lines"></i>
                            <span>THÔNG TIN SẢN PHẨM</span>
                        </div>
                        <div style="background-color: #F5F5F7; font-size: 20px;">
                            <p>@Html.Raw(Model.Mota)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="position-relative">
                        <div class="box-price m-2">
                            @if (Model.Sale == true)
                            {
                                <span class="giaB"><strong>@string.Format("{0:N0}đ", Model.GiaSale)</strong></span>
                                <span class="giaKM"><del>@string.Format("{0:N0}đ", Model.GiaBan)</del></span>
                            }
                            else
                            {
                                <span class="giaB">@string.Format("{0:N0}đ", Model.GiaBan)</span>
                            }

                            <div style=" position: absolute; right: 0; top: 0; font-size: 12px">
                                <label>MSP: </label>
                                <strong style="color: black; font-size: 13px;">@Model.MaSP</strong>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center" style="background-color: #FF6500;">
                            <h4 class="mt-2"><i class="fa-solid fa-bolt"></i> FLASH SALE</h4>
                        </div>
                    </div>
                    <div class="box-product-option mt-2">
                        <strong class="form-label">Lựa chọn màu</strong>
                        <ul class="list-group d-flex flex-row mt-2" id="colorOptions">
                            <li class="list-group-item color-option pl-5 px-5" title="Đen" data-color="black">
                                <img style="height: 24px; width: 24px; border: 1px solid #333; border-radius: 50%; margin-right: 10px" src="https://genk.mediacdn.vn/zoom/700_438/2016/11349324-1685331671706633-667022670-n-1457155607213-crop-1457155622873.jpg" alt="Đen" />Đen
                            </li>
                            <li class="list-group-item color-option pl-5 px-5" title="Xanh" data-color="blue">
                                <img style="height: 24px; width: 24px; border: 1px solid #333; border-radius: 50%; margin-right: 10px" src="https://nguyenlieulammyphamvn.com/wp-content/uploads/2020/12/mau-xanh-duong-tan-nuoc.jpg" alt="Xanh" />Xanh
                            </li>
                            <li class="list-group-item color-option pl-5 px-5" title="Trắng" data-color="white">
                                <img style="height: 24px; width: 24px; border-radius: 50%; border: 1px solid #333; margin-right: 10px" src="https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcRM0OQsITDDUQ-PCjobiXAyUfEQn1sOAkjorPKB2miR-sYx_aCjqMSevH2Y4WjIvPoA" alt="Trắng" />Trắng
                            </li>
                        </ul>
                    </div>
                    <div id="selectedColor" class="mt-3"></div>
                    <div class="d-flex justify-content-center align-items-center mt-4" style="max-width: 100%;">
                        <div class="mx-2 text-center d-flex justify-content-center align-items-center"
                             style="background: linear-gradient(90deg, #F64850, #FB810B); border: 1px solid #333; max-width: 50%; flex-grow: 1; flex-shrink: 1;">
                            <p style="color: white" class="m-3">
                                Giá cuối không đổi chỉ còn <br /><span style="font-size: 24px">
                                    <strong>
                                        @if (Model.Sale == true)
                                        {
                                            <span><strong>@string.Format("{0:N0}đ", Model.GiaSale)</strong></span>
                                        }
                                        else
                                        {
                                            <span>@string.Format("{0:N0}đ", Model.GiaBan)</span>
                                        }
                                    </strong>
                                </span>
                            </p>
                        </div>
                        <div class="ms-2 text-center justify-content-center align-items-center"
                             style="background: transparent linear-gradient(180deg, #ffffff 0%, #c3c3c3 100%); border: 1px solid #333; max-width: 50%; flex-grow: 1; flex-shrink: 1;">
                            <div style="margin: 7.5px">
                                <h4 style="font-weight: 400; color: #091057; margin: 0;">LÊN ĐỜI NGAY</h4>
                                <p style="margin: 0;">Trợ giá lên đến 500.000đ thu cũ đổi mới</p>
                                <span><strong>@string.Format("{0:N0}đ", Model.GiaSale)</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-4" style="max-width: 100%;">
                        <button id="CheckoutBtn" style="background-color: #FD475A; margin-right: 12%" class="btn">
                            <strong style="font-size: 18px">MUA NGAY</strong>
                            <p>(Giao tận nhà hoặc nhận tại cửa hàng)</p>
                        </button>
                        <button id="addToCartButton" style="background-color: white; margin-left: 13%; border: 1px solid #FD475A; border-radius: 5%" class="btn">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p>Thêm vào giỏ hàng</p>
                        </button>
                    </div>
                    <div class="d-flex flex-column mt-5">
                        <div class="item-site-banner">
                            <div class="alert d-flex align-items-center m-0" role="alert" style="background: #FFDADE; color: #FD475A; border: none; font-size: 24px">
                                <i class="fa-solid fa-sack-dollar me-2" style="font-size: 20px;"></i>
                                <div>
                                    <strong>ƯU ĐÃI TỪ ANK SMART</strong>
                                </div>
                            </div>
                            <div class="box-promotion-content">
                                <div class="promotion-item" style="display: flex; align-items: center;">
                                    <strong class="promotion-count">1</strong>
                                    <span style="font-size: 16px; font-weight: 400; line-height: 15.73px; text-align: left; margin-left: 10px;">
                                        Giảm thêm 700.000đ
                                    </span>
                                </div>
                                <div style="display: flex; flex-direction: column;">
                                    <div class="promotion-item pt-3" style="display: flex; align-items: center;">
                                        <strong class="promotion-count">2</strong>
                                        <span style="font-size: 16px; font-weight: 400; line-height: 15.73px; text-align: left; margin-left: 10px;">
                                            Giảm thêm 1 triệu khi mua Watch6 Classic 43mm BT (R950) hoặc Watch6 Classic 47mm BT (R960) cùng với Flip6, Fold6, Flip5, Fold5, S24 series, S23 Ultra, S23 FE, A35, A55
                                        </span>
                                    </div>
                                    <div class="promotion-item pt-3" style="display: flex; align-items: center;">
                                        <strong class="promotion-count">3</strong>
                                        <span style="font-size: 16px; font-weight: 400; line-height: 15.73px; text-align: left; margin-left: 10px;">
                                            Giảm thêm 1.500.000đ khi mua Watch7 kèm với Z Fold6, Z Flip6, S24 series, S23 series, A55, A35 áp dụng tới 31/8 ( LH 1900 2091)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const colorOptions = document.querySelectorAll('.color-option');
        const selectedColorDiv = document.getElementById('selectedColor');

        colorOptions.forEach(option => {
            option.addEventListener('click', function () {
                const selectedColor = this.getAttribute('data-color');
                selectedColorDiv.innerHTML = `<strong>Màu đã chọn: </strong><span style="color: black;">${selectedColor}</span>`;
                colorOptions.forEach(opt => opt.classList.remove('active'));
                this.classList.add('active');
            });
        });

        document.getElementById('addToCartButton').addEventListener('click', function () {
            const productId = @Model.MaSP;
            const quantity = 1;

            const isLoggedIn = @((Session["UserID"] != null).ToString().ToLower());

            if (!isLoggedIn) {
                window.location.href = '@Url.Action("Login", "Home")';
            } else {
                fetch('/Carts/AddToCart', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ MaSP: productId, SoLuong: quantity })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Response data:', data);
                    if (data.success) {
                        alert('Đã thêm vào giỏ hàng!');
                    } else {
                        alert('Có lỗi khi thêm vào giỏ hàng!');
                    }
                })
                .catch(error => console.error('Error:', error));
                window.location.reload();

            }
        });
    });

    document.getElementById('CheckoutBtn').addEventListener('click', function () {
            const productId = @Model.MaSP;
    const quantity = 1;

    const isLoggedIn = @((Session["UserID"] != null).ToString().ToLower());

    if (!isLoggedIn) {
        window.location.href = '@Url.Action("Login", "Home")';
    } else {
        fetch('/Carts/AddToCart', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ MaSP: productId, SoLuong: quantity })
        })
        .then(response => response.json())
        .then(data => {
            console.log('Response data:', data);
            if (data.success) {
                alert('Đã thêm vào giỏ hàng!');
            } else {
                alert('Có lỗi khi thêm vào giỏ hàng!');
            }
        })
        .catch(error => console.error('Error:', error));
        window.location.href = '@Url.Action("Cart", "Carts")';

    }
});

</script>

