@model TTCD1_TranMinhDuc_2210900014.Models.Tmd_News

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thêm tin tức</h4>
                <p class="card-description">
                    <a href="/HomeAdmin/DashBoard" style="text-decoration: none; color: inherit; font-weight: bold;">Trang chủ admin</a> &#47; Thêm tin tức
                </p>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "forms-sample" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label for="TitleNew">Tiêu đề</label>
                        @Html.EditorFor(model => model.TitleNew, new { htmlAttributes = new { @class = "form-control", placeholder = "Tiêu đề", style = "min-width: 100%;" } })
                        @Html.ValidationMessageFor(model => model.TitleNew, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="Mota1">Mô tả 1</label>
                        @Html.TextAreaFor(model => model.Mota1, new { htmlAttributes = new { @class = "form-control", id = "Mota1", placeholder = "Mô tả 1", style = "min-width: 100%;" } })
                        @Html.ValidationMessageFor(model => model.Mota1, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="Mota2">Mô tả 2</label>
                        @Html.TextAreaFor(model => model.Mota2, new { htmlAttributes = new { @class = "form-control", id = "Mota2", placeholder = "Mô tả 2", style = "min-width: 100%;" } })
                        @Html.ValidationMessageFor(model => model.Mota2, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="Anh">Ảnh</label>
                        <div class="input-group col-xs-12">
                            @Html.EditorFor(model => model.Anh, new { htmlAttributes = new { @class = "form-control file-upload-info", style = "min-width: 95%;", id = "fileInputAnh", disabled="" } })
                            <input type="file" id="fileInputAnhHidden" style="display: none;" onchange="updateFileName(this, 'fileInputAnh'), previewImage(event, 'previewImgAnh')" />
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button" onclick="document.getElementById('fileInputAnhHidden').click();">Tải lên</button>
                            </span>
                            @Html.ValidationMessageFor(model => model.Anh, "", new { @class = "text-danger" })
                            <img id="previewImgAnh" src="#" alt="Preview Image" style="display: none; width: 50px; height: 90px;" />
                        </div>
                    </div>

                    <input type="submit" value="Tạo mới" class="btn btn-primary me-2" />
                    <input type="reset" value="Hủy bỏ" class="btn btn-secondary" />
                }
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Quay Về Danh Sách", "Index", null, new { @class = "btn btn-link text-white fw-bold", style = "font-size: 20px; text-decoration: none;" })
</div>
