@model TTCD1_TranMinhDuc_2210900014.Models.Tmd_Quantri

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/LoginRegisterLayout.cshtml";
}

<div class="login">
    <div class="wrapper_tmd">
        @using (Html.BeginForm("Login", "HomeAdmin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Đăng nhập</h1>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="input_box_tmd">
                @Html.TextBoxFor(model => model.Taikhoan, new { @placeholder = "Tên đăng nhập", @required = "required", @class = "form-control" })
                <i class='bx bx-user'></i>
                @Html.ValidationMessageFor(model => model.Taikhoan, "", new { @class = "text-danger" })
            </div>

            <div class="input_box_tmd">
                @Html.PasswordFor(model => model.MatkhauAdmin, new { @placeholder = "Mật khẩu", @required = "required", @class = "form-control" })
                <i class='bx bx-lock'></i>
                @Html.ValidationMessageFor(model => model.MatkhauAdmin, "", new { @class = "text-danger" })
            </div>

            <div class="rmk_tmd">
                <label for="checkbox-tmd">
                    <input type="checkbox" name="rmk_tmd" /> Ghi nhớ đăng nhập
                </label>
                <a href="#" onclick="hienFormNewpass()">Quên mật khẩu?</a>
            </div>

            <button type="submit" class="btn_sub_tmd" name="btn_sub_tmd">Đăng nhập</button>
        }
    </div>
</div>
