@model TTCD1_TranMinhDuc_2210900014.Models.Tmd_HoTro
<main aria-labelledby="title">
    <div class="bread-crumb">
        <div class="container">
            <div class="row">
                <div class="col-12 a-left">
                    <ul class="breadcrumb">
                        <li>
                            <a class="ahome-contact" href="#"><span>Trang chủ</span></a>
                            <span>&nbsp;/&nbsp;</span>
                        </li>
                        <li>
                            <strong><span>Liên hệ</span></strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page_contact page-contacts py-5" style="background-image: url('https://images.pexels.com/photos/129208/pexels-photo-129208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; background-position: center; margin-bottom:80px;">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6 col-12 bg-light p-4 shadow">
                    <h3 class="mb-4">Bạn cần hỗ trợ?</h3>
                    <p>ANK Smart rất hân hạnh được hỗ trợ bạn, hãy để lại thông tin cho chúng tôi nhé. Yêu cầu của bạn sẽ được xử lý và phản hồi trong thời gian sớm nhất.</p>


                    @using (Html.BeginForm("Create", "Tmd_HoTro", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="container">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label>Họ tên</label>
                                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập họ tên" } })
                                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-6">
                                    <label>Địa chỉ email</label>
                                    @Html.EditorFor(model => model.DiaChiEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập email" } })
                                    @Html.ValidationMessageFor(model => model.DiaChiEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <label>Tin nhắn</label>
                                    @Html.TextAreaFor(model => model.TinNhan, new { @class = "form-control", placeholder = "Tin nhắn", style = "min-width: 100%;" })
                                    @Html.ValidationMessageFor(model => model.TinNhan, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-dark"><strong>Gửi</strong></button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <h3 class="text-uppercase">Công ty TNHH ANK Smart Việt Nam</h3>
                <p><strong>ANK Smart</strong> là kênh mua sắm đồ công nghệ, phụ kiện công nghệ hàng đầu Việt Nam</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Hồ Chí Minh: Quận 1, TP HCM</li>
                    <li class="list-group-item">Hà Nội: Đại học Nguyễn Trãi, 28A Lê Trọng Tấn, Hà Cầu, Hà Đông, Hà Nội</li>
                    <li class="list-group-item">Giấy chứng nhận đăng ký doanh nghiệp số: 0855312279</li>
                </ul>
            </div>
            <div class="col-lg-5 col-12 contact_info_right">
                <div class="vertical-divider"></div>
                <h3 class="text-uppercase">Liên hệ với chúng tôi</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: <a style="text-decoration: none; color: #212529" href="mailto:dikahpthegioi2@gmail.com">dikahpthegioi2@gmail.com</a></li>
                    <li class="list-group-item">CSKH: 190010 0 biết</li>
                    <li class="list-group-item">Thời gian làm việc: 8h - 21h (Thứ 2 - Thứ 7)</li>
                    <li class="list-group-item">Fanpage: <a style="text-decoration: none; color: #212529" href="https://www.facebook.com/profile.php?id=100013901885587">https://www.facebook.com/profile.php?id=100013901885587</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>
